*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#495e57;
    --primary-color2:#f4ce14;
    --secondary-color:#ee9972;
    --secondary-color2:#fbdabb;
    --highlight-color:#edefee;
    --highlight-color2:#333333;
    
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;

}
a {
    text-decoration: none;
    color: var(--highlight-color2);
    font-weight: bold;
}

nav {
    display: flex;
    width: 84vw;
    align-items: center;
    justify-content: space-around;
    margin:30px auto;

}
.intro {
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    background-color: var(--primary-color);
    align-items: center;
    position: relative;
    overflow: visible;
    margin: 30px auto;

    
}
.intro img{
    width: 400px;
    height: 450px;
    position:absolute;
    top: 30px;
    right: 320px;
    border-radius: 16px;

    
}
.content{
    
    margin-left: 300px;
    margin-top: 30px;

}
.content h1 {
    margin-bottom: 0;
    color: var(--primary-color2);
    font-size: 3.3em;
    font-family:url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
}
 .content h2{
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--highlight-color);
    font-family:url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

}
.content p{
    color: var(--highlight-color);
    width: 230px;
    margin-bottom: 5px;
    font-size: 1.4em;
    font-family: url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');
}
.content button{
    border-radius: 16px;
    background-color: var(--primary-color2);
    margin-bottom: 20px;
    text-align: center;
    padding: 15px 20px;
    font-weight: bold;
    border: none;
    color: var(--highlight-color2);
    
}

.highlight {
    display: flex;
    width: 95vw;
    justify-content: space-around;
    margin-top: 160px;
    margin-left:auto;
    margin-right: auto;

}
.highlight h1{
    color: var(--highlight-color2);
}
.highlight button{
    background-color: var(--primary-color2);
    color: var(--highlight-color2);
    border-radius: 16px;
    padding: 15px 20px;
    font-weight: bold;
    border: none;
}
.cards{
    display: grid;
    width: 59vw;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px auto;
    gap: 30px;
    
    
}
.cards img{
    width: 100%;
    height: 300px;
    
    align-items: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 10px;
    object-fit: cover;
}
.greek,.brusc,.lemon{
    background-color: rgb(240, 237, 237);
     border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.span{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;

}
.item {
    font-weight: bold;
    color: var(--highlight-color2);
    font-size: 1.57em;
}
.price {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.57em;
}
.cards p{
    padding: 20px 30px;
    line-height: 1.5;
    max-width: 65ch;
    font-family: url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');
    
}