.userfill{
    background-color: var(--primary-color);
      padding: 60px 20px;
}
.userform{
     max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
  
    margin-bottom: 40px;
}
.user-input label{
   display: flex;
    color: whitesmoke;
    margin-bottom: 10px ;
    
}
.user-input input {
    width: 80%;
    height: 70%;
    border-radius: 16px;
    margin-bottom: 10px;
}

